<html>
	<head>
	<title>SignUp</title>
	</head>
<body>
		<div style="background-color:lightgreen" align="center">
				<font size="8"><b> SIGN UP </b></font>
		</div>
	<form action="/createAccount" method="post">
		<font size="5" face="sans-serif">
				<br>
		Username: <br><input type="text" name="name"><br>
		Password: <br><input type="password" name="password"><br>
		Confirm Password: <br><input type="password" name="confirmPassword">
		<br><br>
		</font>
		<input type="submit" class="button" value="SIGN UP"style="width:80px;height:30px;font-size:15px;background-color:lightblue;">
	</form>
</body>
</html>