<html>
	<head>
	<title>Create Successed</title>
	
	</head>
	<body>     
		<div style="background-color:lightgreen" align="center">
			<font size="10"><b> Create Successed </b></font>
		</div> 
		<br>
		<font size="5" face="sans-serif">
			Create was successful!
			</font>
		<br>
		<a href=/list>
			<br><input type="submit" class="button" value="Restaurant List" style="width:120px;height:45px;font-size:16px;background-color:lightblue;">	
		</a> 

	</body>
</html>