<html>
	<head>
	<title>Login</title>
	</head>

<body>
		<div style="background-color:lightgreen" align="center">
        <font size="8"><b> Login </b></font>
     </div>

	<form action="/login" method="post">
		<font size="5" face="sans-serif"> 
			<br>
			Username: <br><input type="text" name="name"><br>
			Password: <br><input type="password" name="password"><br>
		</font>

	<br>
	<input type="submit" class="button" value="LOG IN" style="width:80px;height:30px;font-size:15px;background-color:lightblue;">
	
	<a href=/createAccount>
	<input type="button" class="button" value="SIGN UP" style="width:80px;height:30px;font-size:15px;background-color:yellow;">
	</a>
</font>
	</form>
</body>
</html>