<html>
	<head>
	<title>Already rated</title>
	</head>
	<body>
			<div style="background-color:lightgreen" align="center">
					<font size="8"><b> Error </b>
			 </div>
			 <font size="5" face="sans-serif"> 
				 <br>	
			Sorry! Every user can only rate once.
	</font>
	<br>
	<a href=/list >
		<br><input type="submit" class="button" value="Restaurant List" style="width:120px;height:45px;font-size:16px;background-color:lightblue;">
	</a> 
	</body>
</html>